- provide :title, "All Users"
- provide :page_header, "All Users"
- provide :page_header_subtext, "Based on your site location"
= render "layouts/page_header_and_flash"

.container
  %table.table.table-striped.table-bordered.sort_filter_table
    %thead
      %tr
        - ["Location", "User ID", "Last Name", "First Name", "Registration Date"].each do |header|
          %th{:title => "Sort by #{header}"}
            = header
            .pull-right
              %i.icon-white.icon-filter
              %i.icon-white.icon-chevron-up
              %i.icon-white.icon-chevron-down
        %th{:filter => "false"}
          Clear Sorting
    %tbody
      - @users.each do |user|
        %tr
          %td= user.registered_at
          %td= user.user_name
          %td= user.last
          %td= user.first
          %td= user.created_at.to_date
          %td
            .btn-group
              .btn.btn-mini.btn-inverse= link_to "Edit", edit_user_path(user)
              .btn.btn-mini.btn-primary= link_to "View", user_path(user)
              .btn.btn-mini.btn-danger= link_to "Disable", "#"
