- provide :hero_header, "User Index"
- provide :hero_sub do
  %p
    Below is an index of all registered users based on your location.
    Entries can be sorted by clicking on the
    %span.label table headers.
    They can also be searched using the highlighted boxes.

- provide :title do
  =yield :hero_header

.container-fluid
  %table.table.table-hover.table-bordered.table-condensed.sort_filter_table
    %thead
      %tr
        - ["Location", "User ID", "Last Name", "First Name", "Registration Date"].each do |header|
          %th{:title => "Sort by #{header}"}
            = header
            .pull-right
              %i.icon-white.icon-filter
              %i.icon-white.icon-chevron-up
              %i.icon-white.icon-chevron-down
        %th{:filter => "false"}
          Clear Sorting
    %tbody
      - @users.each do |user|
        %tr
          %td= user.registered_at
          %td= user.user_name
          %td= user.last
          %td= user.first
          %td= user.created_at.to_date
          %td
            .btn-group
              = link_to "View / Edit Profile", user_path(user), :class => "btn btn-primary btn-small"
              = link_to "Disable", "#", :class => "btn btn-danger btn-small"
