- provide :title, "Register"
.container
  .page-header
    %h1 
      Registration Form
      %small
        Please fill in the fields below. Those marked with
        %strong *
        are mandatory.
  .container
    = flash.to_hash
  = simple_form_for @user, :html => { :class => "form-horizontal" } do |f|
    %h6 Personal Information
    = f.input :first, :label => 'First Name'
    = f.input :middle, :label => 'Middle Initial'
    = f.input :last, :label => 'Last Name'
    = f.input :birth_date
    = f.input :gender
    = f.input :ethnicity
    %h6 CONNECTS Information
    - if offsite?
      = f.input :registered_at, :label => 'Registration Location'
    - else
      = f.input :registered_at, :label => 'Registration Location', :input_html => { :value => PGHCONNECTS["abbrs"][resolve_ip_to_abbr] }

    = submit_tag "Next Step", :class => "btn btn-large btn-primary"
.container
  = debug @user
