- render "shared/title"

= simple_form_for @user, :html => { :class => "form-horizontal container" } do |f|
  .row
    .span5
      %h6 CONNECTS Information
      - # Registration hash for simple form f.input
      - reg_hash = { :label => "Registration Site", :collection => all_sites, :value_method => Proc.new { |v| v }, :include_blank => false, :selected => ip_to_name }

      = f.input :registered_at, reg_hash

      %h6 Personal Information
      = f.input :first, :label => 'First Name'
      = f.input :middle, :label => 'Middle Initial'
      = f.input :last, :label => 'Last Name'
      - year = Date.today.year
      = f.input :birth_date, :start_year => year - 150, :end_year => year - 5
      = f.input :gender, :collection => all_genders
      = f.input :ethnicity, :collection => all_ethnicities

    .span5.offset1
      = simple_fields_for @address do |addr_form|
        %h6 Resident Location
        = addr_form.input :number, :label => "House Number"
        = addr_form.input :street, :label => "Street Name"
        = addr_form.input :apt_fl, :label => "Apt / Floor Number"
        = addr_form.input :city, :input_html => { :value => "Pittsburgh" }
        = addr_form.input :state, :input_html => { :value => "PA" }
        = addr_form.input :zip

        %h6 Resident Household
        = addr_form.input :household_number, :collection => all_household_numbers[0], :label_method => all_household_numbers[1], :label => "Number of People in Household"
        = addr_form.input :household_income, :collection => all_household_incomes[0], :label_method => all_household_incomes[1], :label => "Annual Household Income"
  .row
    .span5
      = simple_fields_for @email do |email_form|
        %h6 Contact Information
        = email_form.input :full, :label => "Email", :hint => "john@email.com"

      = simple_fields_for @phone do |phone_form|
        = phone_form.input :full, :label => "Phone", :hint => "Format: xxx-xxx-xxxx"

  = submit_tag "Submit", :class => "btn btn-large btn-primary span12"
