- provide :title, "Register"
.container
  .hero-unit
    = image_tag "/images/BTOP_small"
    = image_tag "/images/NLA_logo"
    %h1 Registration Form
    %p Please fill in the fields below. Those marked with * are mandatory.
.container
  = simple_form_for @user, :html => { :class => "form-horizontal" } do |f|
    %h6 Personal Information
    = f.input :first, :label => 'First Name'
    = f.input :middle, :label => 'Middle Initial'
    = f.input :last, :label => 'Last Name'
    = f.input :birth_date
    = f.input :gender
    = f.input :ethnicity
    - unless offsite?
      %h6 CONNECTS Information
      = f.input :registered_at, :label => 'Registration Location'

    = submit_tag "Next Step", :class => "btn btn-large btn-primary"
.container
  = debug @user
