- provide :title, "User Profile | Pittsburgh CONNECTS"
- provide :page_header, "#{@user.first} #{@user.middle} #{@user.last}'s Profile"
= render 'layouts/page_header_and_flash'

= render 'shared/registration_form'
