.container
  = simple_form_for @user, :html => { :class => "form-horizontal container" } do |f|
    <!-- CONNECTS Information -->
    .row
      .span12
        %h6 CONNECTS Information

      .span5
        - if @user.new_record?
          = f.input :registered_at, site_hash
        - else
          = f.input :registered_at, site_hash.merge(:disabled => true)

      - if admin?
        .span5.offset2
          = f.input :clearance_level, clearance_hash
      - else
        .span5.offset2
          = f.input :clearance_level, clearance_hash.merge(:disabled => true)

    <!-- Personal Information -->
    .row
      .span5
        %h6 Personal Information

        = f.input :first, :label => 'First Name'
        = f.input :middle, :label => 'Middle Initial'
        = f.input :last, :label => 'Last Name'
        = f.input :birth_date, :start_year => year - 150, :end_year => year - 5
        = f.input :gender, :collection => genders[:list]
        = f.input :ethnicity, :collection => ethnicities[:list]

      .span5.offset2
        %h6 Address Information

        = simple_fields_for @address do |addr_form|
          = addr_form.input :number, :label => "House Number"
          = addr_form.input :street, :label => "Street Name"
          = addr_form.input :apt_fl, :label => "Apt / Floor Number"
          = addr_form.input :city, :input_html => { :value => "Pittsburgh" }
          = addr_form.input :state, :input_html => { :value => "PA" }
          = addr_form.input :zip

    <!-- Contact Information -->
    .row
      .span12
        %h6 Contact Information

      .span5
        = simple_fields_for @email do |email_form|
          = email_form.input :full, 
            :label => "Email", 
            :hint => "e.g. john@email.com"
          = email_form.input :full_confirmation,
            :label => "Enter Confirmation",
            :hint => "must match email above",
            :input_html => { :value => @email.full }

      .span5.offset2
        = simple_fields_for @phone do |phone_form|
          = phone_form.input :full, 
            :label => "Phone", 
            :hint => "e.g. 412-123-4567"

    <!-- Login Information -->
    .row
      .span12
        %h6 Login Password
      .span5
        = f.input :password, :wrapper_html => { :class => "label label-important" }
      .span5.offset2
        = f.input :password_confirmation, :label => "Password again", :wrapper_html => { :class => "label label-important" }

    <!-----------OPTIONAL INFORMATION-------------->
    .row
      .span12
        %h2
          %small Optional Information

    <!-- Household Information -->
    .row
      .span12
        %h6 Household Information (Optional)

      = simple_fields_for @address do |addr_form|
        .span5
          = addr_form.input :household_number,
            :collection => household_numbers[:list], 
            :label_method => household_numbers[:label],
            :label => "Number of People in Household"
        .span5.offset2
          = addr_form.input :household_income,
            :collection => household_incomes[:list],
            :label_method => household_incomes[:label], 
            :label => "Annual Household Income"

    <!-- Occupation Information -->
    .row
      .span12
        %h6 Occupation Information (Optional)

      = simple_fields_for @work_history do |work_history_form|
        .span5
          = work_history_form.input :title, :label => "Occupation Title"
          = work_history_form.input :start, 
            :start_year => year - 150, :end_year => year + 10, 
            :label => "Start Date", :include_blank => true
          = work_history_form.input :end, 
            :start_year => year - 150, :end_year => year + 10, 
            :label => "End Date", :include_blank => true
        .span5.offset2
          = work_history_form.input :description, 
            :input_html => { :cols => 50, :rows => 6 }

    <!-- Education Information -->
    .row
      .span12
        %h6 Education Information (Optional)
      = render :partial => '/shared/education', :locals => { :education => @education }

    <!-- Form Buttons -->
    .row
      .span12
        %hr
      .span2.offset1
        = submit_tag "Clear Form", :class => "btn btn-large span2", :type => "reset"
      .span6.offset3
        = submit_tag "Submit Form", :class => "btn btn-large btn-primary span6", :id => "submit"
