.container
  = simple_form_for @user, :html => { :class => "form-horizontal container" } do |f|
    <!-- CONNECTS Information -->
    .row
      .span12
        %h6 CONNECTS Information

      .span5
        - if @user.new_record?
          = f.input :registered_at, site_hash
        - else
          = f.input :registered_at, site_hash.merge(:disabled => true)

      - if admin?
        .span5
          = f.input :clearance_level, clearance_hash
      - else
        .span5
          = f.input :clearance_level, clearance_hash.merge(:disabled => true)

    <!-- Personal Information -->
    .row
      .span5
        %h6 Personal Information

        = f.input :first, :label => 'First Name'
        = f.input :middle, :label => 'Middle Initial'
        = f.input :last, :label => 'Last Name'
        = f.input :birth_date, :start_year => year - 150, :end_year => year - 5
        = f.input :gender, :collection => genders[:list]
        = f.input :ethnicity, :collection => ethnicities[:list]

      .span5
        %h6 Address Information
        - @addresses.each do |address|
          = render :partial => '/shared/address', :locals => { :address => address }

    <!-- Contact Information -->
    .row
      .span12
        %h6 Contact Information
      = render :partial => '/shared/contact', :locals => { :emails => @emails, :phones => @phones }

    <!-- Login Information -->
    .row
      .span12
        %h6 Login Password
      .span5
        = f.input :password
      .span5
        = f.input :password_confirmation

    <!-----------OPTIONAL INFORMATION-------------->
    .row
      .span12
        %h2 Optional Information

    <!-- Household Information -->
    .row
      .span12
        %h6 Household Information (Optional)
      - @addresses.each do |address|
        = render :partial => '/shared/household', :locals => { :address => address }

    <!-- Occupation Information -->
    .row
      .span12
        %h6 Occupation Information (Optional)
      - @work_histories.each do |work_history|
        = render :partial => '/shared/work_history', :locals => { :work_history => work_history }


    <!-- Education Information -->
    .row
      .span12
        %h6 Education Information (Optional)
      - @educations.each do |education|
        = render :partial => '/shared/education', :locals => { :education => education }

    <!-- Form Buttons -->
    .row
      .span12
        %hr
      .span2
        = submit_tag "Clear Form", :class => "btn btn-large", :type => "reset"
      .span6
        = submit_tag "Submit Form", :class => "btn btn-large btn-primary", :id => "submit"
