- content_for :side_bar do
  .row-fluid
    .span12
      .tabbable.tabs-left
        %ul.nav.nav-tabs
          %li
            %a{:href => "#connects"} CONNECTS Information

.container-fluid
  = simple_form_for @user, :html => { :class => "form-horizontal tab-content" } do |f|
    <!-- Personal Information -->
    .row-fluid
      .span12
        %h1 Personal Information

        .row-fluid
          .span6
            = f.input :first, :label => 'First Name'
            = f.input :middle, :label => 'Middle Initial'
            = f.input :last, :label => 'Last Name'
            = f.input :birth_date, 
              :start_year => year - 100, 
              :end_year => year, 
              :order => [:month, :day, :year]
            = f.input :gender, :collection => genders[:list]
            = f.input :ethnicity, :collection => ethnicities[:list]

          .span6
            = simple_fields_for @address do |addr_form|
              = addr_form.input :number, :label => "House Number"
              = addr_form.input :street, :label => "Street Name"
              = addr_form.input :apt_fl, :label => "Apt / Floor Number"
              = addr_form.input :city, :input_html => { :value => "Pittsburgh" }
              = addr_form.input :state, :input_html => { :value => "PA" }
              = addr_form.input :zip

    <!-- Contact Information -->
    .row-fluid
      .span12
        %h1 Contact Information

        .row-fluid
          .span6
            = simple_fields_for @email do |email_form|
              = email_form.input :full, 
                :label => "Email", 
                :hint => "e.g. john@email.com"
              = email_form.input :full_confirmation,
                :label => "Enter Confirmation",
                :hint => "must match email above"

          .span6
            = simple_fields_for @phone do |phone_form|
              = phone_form.input :full, 
                :label => "Phone", 
                :hint => "e.g. 412-123-4567"


    <!-----------OPTIONAL INFORMATION-------------->
    .row-fluid
      .span12
        %h1
          %small Optional Information

    <!-- Household Information -->
    .row-fluid
      .span12
        %h1 Household Information (Optional)

        .row-fluid
          = simple_fields_for @address do |addr_form|
            .span6
              = addr_form.input :household_number,
                :collection => household_numbers[:list], 
                :label_method => household_numbers[:label],
                :label => "Number of People in Household"
            .span6
              = addr_form.input :household_income,
                :collection => household_incomes[:list],
                :label_method => household_incomes[:label], 
                :label => "Annual Household Income"

    <!-- Occupation Information -->
    .row-fluid
      .span12
        %h1 Occupation Information (Optional)

        .row-fluid
          = simple_fields_for @work_history do |work_history_form|
            .span6
              = work_history_form.input :title, :label => "Occupation Title"
              = work_history_form.input :start,
                :start_year => year - 100, :end_year => year + 10,
                :label => "Start Date", :include_blank => true,
                :order => [:month, :day, :year]
              = work_history_form.input :end,
                :start_year => year - 100, :end_year => year + 10,
                :label => "End Date", :include_blank => true,
                :order => [:month, :day, :year]
            .span6
              = work_history_form.input :description,
                :input_html => { :cols => 50, :rows => 10 }

    <!-- Education Information -->
    .row-fluid
      .span12
        %h1 Education Information (Optional)
        = render :partial => '/shared/education', :locals => { :education => @education }

    <!-- CONNECTS Information -->
    .row-fluid
      .span12
        %h1#connects CONNECTS Information

        .row-fluid
          .span6
            - if @user.new_record?
              = f.input :registered_at, site_hash
            - else
              = f.input :registered_at, site_hash.merge(:disabled => true)

          - if admin?
            .span6
              = f.input :clearance_level, clearance_hash
          - else
            .span6
              = f.input :clearance_level, clearance_hash.merge(:disabled => true)

    <!-- Login Information -->
    .row-fluid
      .span12
        %h1 Login Password

        .row-fluid
          .span6
            = f.input :password
          .span6
            = f.input :password_confirmation, :label => "Repeat Password"

    <!-- Form Buttons -->
    .row-fluid
      .span12
        %hr

        .row-fluid
          .span6
            = submit_tag "Clear Form", :class => "btn btn-large span2", :type => "reset"
          .span6
            = submit_tag "Submit Form", :class => "btn btn-large btn-primary span6", :id => "submit"
