= simple_fields_for :work_histories do |f|
  %h6 Occupations Information (Optional)
  = f.input :title, :label => "Work Title"
  = f.input :description
  = f.input :start, :label => "Start Date"
  = f.input :end, :label => "End Date"

