- render "shared/title"

.container
  = simple_form_for [@user, @addr], :html => { :class => "form-horizontal" } do |f|
    %h6 Resident Location
    = f.input :number, :label => "House Number"
    = f.input :street, :label => "Street Name"
    = f.input :apt_fl, :label => "Apt / Floor Number"
    = f.input :city, :input_html => { :value => "Pittsburgh" }
    = f.input :state, :input_html => { :value => "PA" }
    = f.input :zip

    %h6 Resident Household
    = f.input :household_number, :label => "Number of People in Household"
    = f.input :household_income, :label => "Annual Household Income"

    = submit_tag "Next Step", :class => "btn btn-large btn-primary"
