.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data => { :toggle => "collapse", :target => ".nav-collapse"} }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to root_path, :class => "brand" do
        %strong
          Pittsburgh CONNECTS Centers
          = "> #{ip_to_name}" unless offsite?
      .nav-collapse.pull-right
        %ul.nav
          %li= link_to "Register with Us!", new_user_path

.container
  .page-header
    %h1 
      = yield :page_header if :page_header
      %small
        = yield :page_header_subtext if :page_header_small

  .container
    - flash.each do |type, msg|
      %div{:class => "alert alert-#{type}"}
        %a.close{ :data => { :dismiss => "alert" } }x
        %h4.alert-heading= "#{type.to_s.titlecase}"
        = msg.html_safe

