<!DOCTYPE html>
%html{ :lang => "en" }
  %head
    %title= yield :title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

  %body
    = render "layouts/header"
    = yield
    = render "layouts/footer"
  - if Rails.env.development?
    .container
      = debug @user
