<!DOCTYPE html>
%html{ :lang => "en" }
  %head
    %title= "#{yield :title} | Pittsburgh CONNECTS"
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

  %body{:data => { :spy => "scroll", :target => "#form_nav", :offset => "150" }}
    <!-- Navbar -->
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{:data => {:toggle => "collapse", :target => ".nav-collapse"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a#brand.brand{:href => "/"}= image_tag "pgh_cnx.png"
          -if signed_in?
            %ul.nav.pull-left
              %li.divider-vertical
              %li
                %p.navbar-text<
                  Welcome,
                  %a.label.label-success{:href => user_path(current_user), :action => :edit}
                    ="#{current_user.full_name}"
                    %i.icon-white.icon-user
                    Click here to see your profile.
          .nav-collapse.collapse
            %ul.nav.pull-right
              %li
                %a{:href => register_path}
                  Register
              %li.divider-vertical
              -if signed_in?
                - if current_user.admin?
                  %li
                    %a{:href => users_path}
                      User Directory
                  %li.divider-vertical
                %li
                  %a{:href => signout_path, :data => {:method => :delete}, :rel => "nofollow"}
                    Sign Out
              -else
                %li
                  = simple_form_for(:session, :url => sessions_path, :wrapper => :navbar) do |f|
                    = f.input :user_name, :input_html => {:placeholder => "Username"}
                    = f.input :password, :input_html => {:placeholder => "Password"}
                    = submit_tag "Sign In", :class => "btn btn-primary"

    <!-- Main Body -->
    .container-fluid
      .row-fluid
        .span12
          .well
            .row-fluid
              .span8
                %h1= yield :hero_header
                =yield :hero_sub
              .span4
                - flash.each do |type, msg|
                  .row-fluid
                    .span12{:class => "alert alert-#{type}"}
                      %a.close{ :data => { :dismiss => "alert" } }x
                      %h4.alert-heading= "#{type.to_s.titlecase}"
                      = msg.html_safe

      .row-fluid
        %section#side-body.span2
          = yield :side_bar
        %section.span10
          = yield
    = javascript_include_tag "application"

  - if Rails.env.development?
    .container-fluid
      .row-fluid
        .span12
          %h1 User
          = debug @user
      .row-fluid
        .span12
          %h1 Parameters
          = debug params
      .row-fluid
        .span12
          %h1 Errors
          = debug @user.errors if @user
      .row-fluid
        .span12
          %h1 Session
          = debug session
