<!DOCTYPE html>
%html{ :lang => "en" }
  %head
    %title= yield :title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

  %body
    .container-fluid
      .navbar.navbar-fixed-top
        .navbar-inner
          .container-fluid
            %a.brand{:href => "/"} Pittsburgh CONNECTS
            %ul.nav.pull-right
              %li
                %a{:href => "/"} Home
              %li
                %a{:href => "/register"} Register
              %li
                %a{:href => "/signin"} Sign In
      .row-fluid
        %section#side-body.span2
          = yield :side_bar
        %section.span10
          = yield

  - if Rails.env.development?
    .container-fluid
      .row-fluid
        .span12
          %h1 User
          = debug @user
      .row-fluid
        .span12
          %h1 Parameters
          = debug params
      .row-fluid
        .span12
          %h1 Errors
          = debug @user.errors if @user
      .row-fluid
        .span12
          %h1 Session
          = debug session
